<!-- Validation failure messages -->
<% if @profile.errors.any? %>
<% @profile.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<h1>Tell us more about yourself!</h1>



<form action="http://localhost:3000/users/new_row">
  <br>
  <p>Please tell us a little bit about yourself so we can provide the best collaboration matches to you!:</p>
  <p>1. What is your <u>favorite</u> genre of music? </p>
  <div class="row">
    <%= radio_button_tag(:genre1, "all") %>
    <%= label_tag(:genre1_all, "All") %>
  </div>
  <div class="row">
    <%= radio_button_tag(:genre1, "hiphop") %>
    <%= label_tag(:genre1_hiphop, "Hip hop") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre1, "rb") %>
    <%= label_tag(:genre1_rb, "R&B") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre1, "electronic") %>
    <%= label_tag(:genre1_electronic, "Electronic") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre1, "pop") %>
    <%= label_tag(:genre1_pop, "Pop") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre1, "rock") %>
    <%= label_tag(:genre1_rock, "Rock") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre1, "indie") %>
    <%= label_tag(:genre1_indie, "Indie") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre1, "acoustic") %>
    <%= label_tag(:genre1_acoustic, "Acoustic") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre1, "other") %>
    <%= label_tag(:genre1_other  , "Other") %><input type="text" name="genre1_other">
  </div>
  <br>

  <p>2. What is your <u>second</u> favorite genre of music? </p>
  <div class="row">
    <%= radio_button_tag(:genre2, "hiphop") %>
    <%= label_tag(:genre2_hiphop, "Hip hop") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "rb") %>
    <%= label_tag(:genre2_rb, "R&B") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "electronic") %>
    <%= label_tag(:genre2_electronic, "Electronic") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "pop") %>
    <%= label_tag(:genre2_pop, "Pop") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "rock") %>
    <%= label_tag(:genre2_rock, "Rock") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "indie") %>
    <%= label_tag(:genre2_indie, "Indie") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "acoustic") %>
    <%= label_tag(:genre2_acoustic, "Acoustic") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "na") %>
    <%= label_tag(:genre2_none, "N/A") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre2, "other") %>
    <%= label_tag(:genre2_other  , "Other") %><input type="text" name="genre2_other">
  </div>
  <br>
  <p>3. What is your <u>third</u> favorite genre of music? </p>
  <div class="row">
    <%= radio_button_tag(:genre3, "hiphop") %>
    <%= label_tag(:genre3_hiphop, "Hip hop") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "rb") %>
    <%= label_tag(:genre3_rb, "R&B") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "electronic") %>
    <%= label_tag(:genre3_electronic, "Electronic") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "pop") %>
    <%= label_tag(:genre3_pop, "Pop") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "rock") %>
    <%= label_tag(:genre3_rock, "Rock") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "indie") %>
    <%= label_tag(:genre3_indie, "Indie") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "acoustic") %>
    <%= label_tag(:genre3_acoustic, "Acoustic") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "na") %>
    <%= label_tag(:genre3_na, "N/A") %>
  </div>
  <div class="row"><%= radio_button_tag(:genre3, "other") %>
    <%= label_tag(:genre3_other  , "Other") %><input type="text" name="genre3_other">
  </div>
  <br>


  <p>4. What are your goals in terms of making music?</p>
  <div class="row"><%= radio_button_tag(:goals, 1) %>
    <%= label_tag(:goals_1  , "1 - I make music purely as a hobby") %>
  </div>

  <div class="row"><%= radio_button_tag(:goals, 2) %>
    <%= label_tag(:goals_2  , "2") %>
  </div>
  <div class="row"><%= radio_button_tag(:goals, 3) %>
    <%= label_tag(:goals_3  , "3 - Mostly for fun, but a part of me wants to be professional") %>
  </div>
  <div class="row"><%= radio_button_tag(:goals, 4) %>
    <%= label_tag(:goals_4  , "4") %>
  </div>
  <div class="row"><%= radio_button_tag(:goals, 5) %>
    <%= label_tag(:goals_5  , "5 - I want to be a music professionally") %>
  </div>
  <br>
  <p>5. Which of the following parts of music-making do you know how to do?</p>
  <div class="row">
    <%= check_box_tag(:skill_production) %>
    <%= label_tag(:skill_production, "Production") %>
  </div>
  <div class="row">
    <%= check_box_tag(:skill_vocals) %>
    <%= label_tag(:skill_vocals, "Vocals") %>
  </div>
  <div class="row">
    <%= check_box_tag(:skill_liveinstrumentation) %>
    <%= label_tag(:skill_liveinstrumentation, "Live Instrumentation") %>
  </div>
  <div class="row">
    <%= check_box_tag(:skill_mixingandmastering) %>
    <%= label_tag(:skill_mixingandmastering, "Mixing and Mastering")%>
  </div>
  <br>

  <p>6. How long have you been making music?</p>
  <input type="text" name="experience"> years


<h1>Show off some your past work!</h1>
<p><i>Paste links to your Soundcloud, Facebook, etc. or upload a file (optional)</i></p>
<div class="row">
  URL #1: <input type="text" name="url1">
</div>
<div class="row">
  URL #2: <input type="text" name="url2">
</div>
<div class="row">
  URL #3: <input type="text" name="url3">
</div>
<br>

<div class="row">
  Please tell us which popular artist you would most compare yourself to: <input type="text" name="similar">
</div>

<br>

<button class="btn btn-success">Submit</button>

</form>
</div>
<br><br><br>
