<h1>Your profile:</h1>
<a href="http://localhost:3000/users/edit">Edit profile</a><br><br>

<b>Favorite genre: </b><%= @user.genre1 %><br>
<b>Second favorite genre: </b><%= @user.genre2 %><br>
<b>Third favorite genre: </b><%= @user.genre3 %><br><br>

<b>Your goals: </b><%= @user.goals %><br>

<b>Years of experience: </b><%= @user.experience %><br><br>



<br><br>
<b>Music influences:</b>
