<h1>Here are 5 collaborats we recommend for you!</h1>

<div class="row">
  

<%= @currentrequest.genreselect %>
<%= @currentrequest.skillsearch_production %>
<%= @currentrequest.skillsearch_vocals %>
<%= @currentrequest.skillsearch_liveinstrumentation %>
<%= @currentrequest.skillsearch_mixingandmastering %>
